{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["react", "flowtype"],
  "settings": {
    "react": {
      "version": "16.8.6"
    }
  },
  "rules": {
    "react/display-name": 0,
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true
      }
    ]
  }
}
